# Node
node_modules/
.vite/
.cache/

# Build artifacts
*.log
*.tmp
*.temp
*.pid

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Netlify
.netlify/

# Environment files
.env
.env.*
